<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build SD card raw images for RaspberryPi 2</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.27.0">
      <projectUrl>https://github.com/agherzan/meta-raspberrypi/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_BRANCH</name>
          <description>Branch to build</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_DEPS_BRANCH</name>
          <description>Branch to be used for checking out the meta-raspberrypi layer dependencies (ex. poky, meta-oe etc.)</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_MACHINE</name>
          <description>Available machine configurations provided by the meta-raspberrypi Yocto BSP layer</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>raspberrypi2</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_IMAGE</name>
          <description>Yocto images provided by the meta-raspberrypi Yocto BSP layer</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>rpi-basic-image</string>
              <string>rpi-hwup-image</string>
              <string>rpi-test-image</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.33">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>meta-raspberrypi-generic</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.ghprb.upstream.GhprbUpstreamStatus plugin="ghprb@1.36.2">
      <showMatrixStatus>false</showMatrixStatus>
      <commitStatusContext>raspberrypi2</commitStatusContext>
      <triggeredStatus>⚙ Preparing a new raspberry ...</triggeredStatus>
      <startedStatus>⚙️ Baking a new raspberry ...</startedStatus>
      <statusUrl></statusUrl>
      <addTestResults>false</addTestResults>
      <completedStatus>
        <org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
          <message>I baked a happy raspberry</message>
          <result>SUCCESS</result>
        </org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
        <org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
          <message>I baked a sad raspberry</message>
          <result>ERROR</result>
        </org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
        <org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
          <message>I baked a crying raspberry</message>
          <result>FAILURE</result>
        </org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
      </completedStatus>
    </org.jenkinsci.plugins.ghprb.upstream.GhprbUpstreamStatus>
  </buildWrappers>
</project>